@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Aeonik TRIAL";
  src: url("../fonts/aeoniktrial-regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik TRIAL";
  src: url("../fonts/AeonikTRIAL-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../fonts/Aeonik-Medium.ttf");
  font-weight: 500;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f4f8fb;
  top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

select:focus,
input:focus {
  outline: none;
}

.wrapper {
  max-width: 1190px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.btn-t1 {
  border-radius: 8px;
  border: 1px solid #e3e6e8;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 43px;
  gap: 8px;
  padding: 5px 24px;
  min-width: 109px;
  color: #181529;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all ease 0.5s;
  position: relative;
  overflow: hidden;
}
.btn-t1 .hover-l {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #daecfe;
  transition: all ease 0.5s;
  width: 0;
  margin: auto;
  border-radius: 6px;
}
.btn-t1 .cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-t1:hover {
  color: #000;
}
.btn-t1:hover .hover-l {
  width: 100%;
}

.btn-blue {
  border: 1px solid #5bc3ff;
  background: linear-gradient(180deg, #00a1ff 0%, #039bf3 100%);
  color: #fff;
}
.btn-blue:hover {
  border-color: #def2ef;
  color: #000;
}

.btn-t2 {
  border-radius: 80px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 12px 0px rgba(19, 32, 56, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  min-height: 56px;
  color: #1c0a0a;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 20.7px */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transition: all ease 0.5s;
  position: relative;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 18px;
}
.btn-t2 .hover-l {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #daecfe;
  transition: all ease 0.5s;
  width: 0;
  margin: auto;
  border-radius: 8px;
}
.btn-t2 .cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn-t2:hover .hover-l {
  width: 100%;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0 !important;
  padding: 15px 0;
  z-index: 10000000000000000;
}
nav .lines {
  display: none;
}
nav .mobileview {
  gap: 10px;
  flex-direction: column;
  display: none;
}
nav .mobileview .btn-blue {
  color: #fff;
}
nav .wrapper {
  max-width: 1390px;
}
nav .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left {
  position: relative;
  z-index: 999999;
}
nav .middle ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 24px;
}
nav .middle ul li {
  text-align: center;
}
nav .middle ul li a {
  color: #1c0a0a;
  font-family: "Aeonik TRIAL";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  transition: all ease 0.5s;
  text-align: center;
}
nav .middle ul li a:hover {
  color: #8965e5;
}
nav .middle ul li .active {
  color: #8965e5;
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
nav .right .language-switcher {
  position: relative;
  display: inline-block;
  font-family: Urbanist;
}
nav .right .language-switcher .choosen {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Urbanist;
}
nav .right .language-switcher {
  position: relative;
  display: inline-block;
}
nav .right .language-switcher .choosen {
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .right .language-dropdown {
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 0;
  display: none;
  width: 120px;
  list-style: none;
  z-index: 100;
  max-height: 300px;
  overflow: auto;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
}
nav .right .language-dropdown li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  color: #060c0e;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  color: #726d75;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}
nav .right .language-dropdown li img {
  max-width: 20px;
}
nav .right .language-dropdown li:hover {
  background-color: #ebf9ff;
  color: black;
}

.language-switcher {
  position: relative;
}
.language-switcher .show {
  display: flex;
}
.language-switcher .choosen {
  display: inline-flex;
  color: #726d75;
  font-family: "Neue Montreal";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  text-transform: capitalize;
  transition: all ease 0.5s;
  gap: 4px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex !important;
  border-radius: 8px;
  border: 1px solid #e8e7e9;
  background: #f8f8f8;
  padding: 8px 10px;
}
.language-switcher .choosen img {
  max-width: 20px;
}
.language-switcher .choosen svg path {
  fill: #060c0e;
  transition: all ease 0.5s;
}
.language-switcher .choosen:hover svg path {
  fill: #000;
}

.navbar.fixed {
  position: fixed;
  margin-top: -200px;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 1.81px 3.619px 0px rgba(0, 0, 0, 0.08);
}

.navbar.fixed.add2 {
  transition: all ease 0.5s;
}

.navbar.fixed.show {
  margin-top: 0;
  opacity: 1;
}

.hero {
  position: relative;
  padding-top: 86px;
}
.hero .sign-btns {
  display: none;
}
.hero .wrapper {
  max-width: 1390px;
}
.hero .box-c {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 891px;
  border-radius: 32px;
  background: #fafcfe;
  padding-top: 80px;
  background: url("../img/bg-hero-desktop.webp") no-repeat center center;
  background-size: cover;
}
.hero .box-c .dots-down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  top: -200px;
  animation: stars-animation3 10s linear infinite;
}
@keyframes stars-animation3 {
  0% {
    top: -200px;
    transform: scale(1);
  }
  50% {
    top: -200px;
    transform: scale(1.2);
  }
  100% {
    top: -200px;
    transform: scale(1);
  }
}
.hero .box-c .stars {
  position: absolute;
  left: 13px;
  top: 14px;
  animation: stars-animation 13s linear infinite;
}
@keyframes stars-animation {
  0% {
    transform: rotate(0);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: rotate(50deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero h1 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 71.3px */
  margin: auto;
  position: relative;
  z-index: 2;
}
.hero p {
  color: #646464;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  position: relative;
  z-index: 2;
}
.hero .btn-place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  position: relative;
  z-index: 2;
}
.hero .avatars {
  position: absolute;
  left: 18px;
  right: 0;
  display: block;
  margin: auto;
  bottom: 0;
}
.hero .leftsignals {
  position: absolute;
  bottom: 119px;
  left: calc(50% - 620px);
}
.hero .leftsignals .coinfl {
  position: absolute;
  left: 0;
  top: 0;
}
.hero .leftsignals .c1 {
  left: 175px;
  top: 54px;
}
.hero .leftsignals .c2 {
  left: 113px;
  top: 81px;
}
.hero .leftsignals .c3 {
  left: 157px;
  top: 136px;
}
.hero .leftsignals .c4 {
  left: 58px;
  top: 118px;
}
.hero .leftsignals .c5 {
  left: 60px;
  top: 203px;
}
.hero .leftsignals .c6 {
  left: 119px;
  top: 235px;
}
.hero .leftsignals .c7 {
  left: 66px;
  top: 272px;
}
.hero .leftsignals .c8 {
  left: 130px;
  top: 300px;
}
.hero .leftsignals .c9 {
  left: 184px;
  top: 180px;
}
.hero .leftsignals .c10 {
  left: 111px;
  top: 174px;
}
.hero .rightsignals {
  position: absolute;
  bottom: 264px;
  right: calc(50% - 609px);
}
.hero .rightsignals .coinfl {
  position: absolute;
  left: 0;
  top: 0;
}
.hero .rightsignals .c1 {
  left: 70px;
  top: 122px;
}
.hero .rightsignals .c2 {
  left: 125px;
  top: 151px;
}
.hero .rightsignals .c3 {
  left: 193px;
  top: 116px;
}
.hero .rightsignals .c4 {
  left: 188px;
  top: 170px;
}
.hero .rightsignals .c5 {
  left: 250px;
  top: 143px;
}
.hero .rightsignals .c6 {
  left: 123px;
  top: 225px;
}
.hero .rightsignals .c7 {
  left: 206px;
  top: 225px;
}
.hero .rightsignals .c8 {
  left: 290px;
  top: 220px;
}
.hero .rightsignals .c9 {
  left: 244px;
  top: 300px;
}
.hero .rightsignals .c10 {
  left: 131px;
  top: 84px;
}

.signal path {
  stroke-opacity: 0;
  animation: pulse 2s ease-in-out infinite;
}

/* Right-to-left delay (reverse order) */
.signal path:nth-child(1) {
  animation-delay: 1.2s;
}

.signal path:nth-child(2) {
  animation-delay: 1s;
}

.signal path:nth-child(3) {
  animation-delay: 0.8s;
}

.signal path:nth-child(4) {
  animation-delay: 0.6s;
}

.signal path:nth-child(5) {
  animation-delay: 0.4s;
}

.signal path:nth-child(6) {
  animation-delay: 0.2s;
}

.signal path:nth-child(7) {
  animation-delay: 0s;
}

@keyframes pulse {
  0%, 100% {
    stroke-opacity: 0;
  }
  50% {
    stroke-opacity: 1;
  }
}
.coinfl {
  position: absolute;
  animation: float 2s ease-in-out infinite;
}

.c1 {
  animation-delay: 0s;
}

.c2 {
  animation-delay: 0.2s;
}

.c3 {
  animation-delay: 0.4s;
}

.c4 {
  animation-delay: 0.6s;
}

.c5 {
  animation-delay: 0.8s;
}

.c6 {
  animation-delay: 1s;
}

.c7 {
  animation-delay: 1.2s;
}

.c8 {
  animation-delay: 1.4s;
}

.c9 {
  animation-delay: 1.6s;
}

.c10 {
  animation-delay: 1.8s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px) scale(1.05);
    opacity: 0.9;
  }
}
.partners {
  padding-top: 93px;
  padding-bottom: 50px;
}
.partners h2 {
  color: #646464;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.partners .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1157px;
  margin: auto;
  margin-top: 38px;
}
.partners .boxes .box {
  border-radius: 10.858px;
  border: 0.905px solid #e3e6e8;
  background: #fff;
  box-shadow: 0px 1.81px 3.619px 0px rgba(0, 0, 0, 0.08);
  min-height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  min-width: calc(16.66% - 15px);
}

.whyus {
  padding-top: 72px;
  padding-bottom: 50px;
}
.whyus .btn-place {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  display: none;
}
.whyus h2 {
  color: #181529;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
}
.whyus h3 {
  color: #181529;
  font-family: Aeonik;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 31.2px */
}
.whyus p {
  color: #646464;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-top: 16px;
}
.whyus .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: unset;
  margin-top: 40px;
}
.whyus .boxes .box-left {
  max-width: 466px;
  width: 100%;
  min-height: 570px;
  border-radius: 14px;
  background: linear-gradient(180deg, #fff 0%, #fff 59.31%, #d8f0ff 100%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  padding: 32px;
  position: relative;
}
.whyus .boxes .box {
  width: calc(100% - 500px);
  min-height: 100%;
  height: 100%;
}
.whyus .boxes .box .box2 {
  width: 100%;
  border-radius: 14px;
  background: linear-gradient(90deg, #fff 66.65%, #ff6692 173.87%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  min-height: 270px;
  padding: 30px;
  position: relative;
  margin-top: 31px;
}
.whyus .boxes .box .box2 p {
  max-width: 237px;
}
.whyus .boxes .box .box2 .revard {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 12px 0px 14px 0px;
  background: #fff;
  min-height: 201px;
  width: 373px;
  padding: 11px 20px;
}
.whyus .boxes .box .box2 .revard h4 {
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.whyus .boxes .box .box2 .revard h5 {
  color: #181529;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 44.8px */
}
.whyus .boxes .box .box2 .revard .rightarrow {
  position: absolute;
  right: 20px;
  top: 19px;
  width: 40px;
  height: 40px;
  background-color: #ff6692;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyus .boxes .box .box2 .revard .diagram {
  margin: auto;
  margin-top: 23px;
  display: block;
}
.whyus .boxes .box .box2 .bg2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}
.whyus .boxes .box .box1 {
  width: 100%;
  border-radius: 14px;
  background: linear-gradient(90deg, #fff 66.65%, rgba(155, 126, 228, 0.8) 173.87%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  min-height: 270px;
  padding: 30px;
}
.whyus .boxes .box .circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.whyus .boxes .box .circles .bgimg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.whyus .boxes .box .circles .ins1 {
  margin-bottom: -18px;
  position: relative;
  z-index: 2;
}
.whyus .boxes .box .circles .ins2 {
  position: relative;
  z-index: 2;
}
.whyus .boxes .box .circles .line {
  position: absolute;
  width: 20%;
}
.whyus .boxes .box .circles .line .in {
  width: 100%;
  height: 1px;
  background-color: #daeffb;
}
.whyus .boxes .box .circles .line .ff {
  position: absolute;
  left: 0;
  background-color: #0996ea;
  width: 21px;
  height: 1px;
  top: 0;
  border-radius: 3px;
  animation: moveline2 1s linear infinite;
}
.whyus .boxes .box .circles .line2 {
  left: 25%;
}
.whyus .boxes .box .circles .line2 .ff {
  animation: moveline2 1.5s linear infinite;
}
.whyus .boxes .box .circles .line3 {
  right: 25px;
  left: unset;
  transform: scaleX(-1);
}
.whyus .boxes .box .circles .line3 .ff {
  animation: moveline2 1s linear infinite;
}
.whyus .boxes .box .circles .line4 {
  right: 25%;
  left: unset;
  transform: scaleX(-1);
}
.whyus .boxes .box .circles .line4 .ff {
  animation: moveline2 1.5s linear infinite;
}
@keyframes moveline2 {
  0% {
    left: 0%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0; /* optional fade at end */
  }
}
.whyus .place-img1 {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  bottom: 0;
}
.whyus .place-img1 .why1 {
  position: absolute;
  bottom: 47px;
  right: 40px;
  z-index: 5;
}
.whyus .place-img1 .why2 {
  position: absolute;
  bottom: 153px;
  left: 30px;
  z-index: 5;
}
.whyus .place-img1 .why3 {
  position: absolute;
  top: 7px;
  left: 81px;
  z-index: 5;
}
.whyus .place-img1 .why4 {
  position: absolute;
  top: 0px;
  z-index: 5;
  right: 40px;
}
.whyus .place-img1 .line {
  position: absolute;
  width: 180px;
}
.whyus .place-img1 .line .in {
  width: 100%;
  height: 1px;
  background-color: #daeffb;
}
.whyus .place-img1 .line .ff {
  position: absolute;
  left: 0;
  background-color: #0996ea;
  width: 21px;
  height: 1px;
  top: 0;
  border-radius: 3px;
  animation: moveRight 2s linear infinite;
}
@keyframes moveRight {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.whyus .place-img1 .why-bg {
  position: absolute;
  left: -50px;
  top: -50px;
  width: 480px;
  max-width: unset;
}
.whyus .place-img1 .line1 {
  bottom: 164px;
  transform: rotate(15deg);
  left: 50px;
}
.whyus .place-img1 .line2 {
  bottom: 234px;
  transform: rotate(54deg);
  left: 93px;
  width: 220px;
}
.whyus .place-img1 .line2 .ff {
  animation: moveRight 1.5s linear infinite;
}
.whyus .place-img1 .line3 {
  bottom: 250px;
  transform: rotate(98deg);
  left: 213px;
  width: 190px;
}
.whyus .place-img1 .line3 .ff {
  animation: moveRight 1.8s linear infinite;
}

.affiliates {
  padding-top: 70px;
  padding-bottom: 120px;
}
.affiliates h2 {
  color: #000;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.affiliates p {
  color: #646464;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}
.affiliates .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 28px;
}
.affiliates .boxes .box {
  width: calc(33.33% - 20px);
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  padding: 40px 30px;
  min-height: 400px;
}
.affiliates .boxes .box .img-place {
  border-radius: 16px;
  background: rgba(0, 161, 255, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.affiliates .boxes .box .imgp2 {
  border-radius: 16px;
  background: rgba(255, 102, 146, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
}
.affiliates .boxes .box .imgp3 {
  border-radius: 16px;
  background: rgba(137, 101, 229, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
}
.affiliates .boxes .box .imgp4 {
  border-radius: 16px;
  background: rgba(1, 195, 172, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
}
.affiliates .boxes .box .imgp5 {
  border-radius: 16px;
  background: rgba(137, 101, 229, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
}
.affiliates .boxes .box .imgp6 {
  border-radius: 16px;
  background: rgba(255, 102, 146, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(101, 111, 131, 0.2);
}
.affiliates .boxes .box h3 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-top: 33px;
}
.affiliates .boxes .box p {
  color: #646464;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.affiliates .btn-place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}

.platform {
  background: #fff;
  padding-top: 116px;
  padding-bottom: 120px;
}
.platform h2 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
}
.platform p {
  color: #646464;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  max-width: 760px;
  margin: auto;
  margin-top: 14px;
}
.platform .order-dif.order-box {
  margin-top: 90px;
}
.platform .order-dif.order-box .left {
  order: 2;
  max-width: 517px;
}
.platform .order-dif.order-box .right {
  flex: 1;
  margin-top: 20px;
}
.platform .order-dif.order-box .inimgs {
  width: 593px;
  position: absolute;
  left: 30px;
  bottom: -45px;
}
.platform .order-dif.order-box .inimgs .icon1 {
  position: absolute;
  top: 10px;
  left: -20px;
  animation: float 2s ease-in-out infinite;
}
.platform .order-dif.order-box .inimgs .icon2 {
  position: absolute;
  top: 10px;
  right: 167px;
  animation: float 2.4s ease-in-out infinite;
}
.platform .order-dif.order-box .inimgs .icon3 {
  position: absolute;
  top: 172px;
  right: 30px;
  animation: float 2.2s ease-in-out infinite;
}
.platform .order-dif.order-box .inimgs .icon4 {
  position: absolute;
  bottom: 23px;
  right: 100px;
  animation: float 2.6s ease-in-out infinite;
}
.platform .order-dif.order-box .boximg {
  border-radius: 40px;
  background: linear-gradient(7deg, #c5eafb -1.69%, #fff 47.72%, #fff 61.02%, #ffe6ca 104.05%);
  box-shadow: 0px 0.878px 3.512px 0px rgba(133, 146, 173, 0.2);
  max-width: 539px;
  width: 100%;
  min-height: 503px;
  position: relative;
}
.platform .order-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  margin-top: 70px;
}
.platform .order-box h3 {
  color: #181529;
  font-family: Aeonik;
  font-size: 41.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 49.92px */
}
.platform .order-box .right {
  margin-right: -36px;
  margin-top: -11px;
}
.platform .order-box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.platform .order-box ul li {
  padding-left: 90px;
  position: relative;
}
.platform .order-box ul li .left {
  position: absolute;
  left: 0;
  top: -2px;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  background: rgba(0, 161, 255, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.platform .order-box ul li .blue {
  border-radius: 12px;
  background: rgba(0, 161, 255, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.platform .order-box ul li .orange {
  border-radius: 12px;
  background: rgba(255, 102, 146, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.platform .order-box ul li .purple {
  border-radius: 12px;
  background: rgba(137, 101, 229, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.platform .order-box ul li .green {
  border-radius: 12px;
  background: rgba(1, 195, 172, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.platform .order-box ul li h4 {
  color: #181529;
  font-family: Aeonik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.platform .order-box ul li p {
  text-align: left;
  color: #646464;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  margin-top: 8px;
}

.pulsing {
  animation: pulsing 2s linear infinite;
}

.pulsing2 {
  animation: pulsing2 3s linear infinite;
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsing2 {
  0% {
    opacity: 1;
    transform: ranslate(-50%, -50%) scale(1);
  }
  25% {
    opacity: 1;
    transform: ranslate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
  75% {
    opacity: 1;
    transform: ranslate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: ranslate(-50%, -50%) scale(1);
  }
}
.blockchain {
  background-color: #f4f8fb;
  padding-top: 93px;
  padding-bottom: 70px;
}
.blockchain h2 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
}
.blockchain p {
  color: #646464;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin: auto;
  max-width: 771px;
  margin-top: 14px;
}
.blockchain .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
  align-items: start;
}
.blockchain .boxes .box {
  border-radius: 14px;
  background: linear-gradient(0deg, #fff 0%, #fff 59.31%, #e7deff 100%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  width: calc(33.33% - 18px);
  padding-bottom: 24px;
  overflow: hidden;
  position: relative;
}
.blockchain .boxes .box .img-place {
  min-height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.blockchain .boxes .box .img-place img,
.blockchain .boxes .box .img-place svg {
  position: relative;
  z-index: 2;
}
.blockchain .boxes .box .img-place .bgimg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.blockchain .boxes .box .img-place .bl1 {
  position: absolute;
  left: calc(50% - 101px);
  top: calc(50% - 6px);
  transform: translateY(-50%);
}
.blockchain .boxes .box .img-place .bl2 {
  position: absolute;
  right: calc(50% - 112px);
  top: calc(50% - 99px);
  transform: translateY(-50%);
}
.blockchain .boxes .box .img-place .bl3 {
  position: absolute;
  right: calc(50% - 103px);
  bottom: calc(50% - 123px);
  transform: translateY(-50%);
}
.blockchain .boxes .box h3 {
  color: #181529;
  font-family: Aeonik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  padding: 0 24px;
  margin-top: -20px;
}
.blockchain .boxes .box p {
  color: #646464;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-top: 14px;
  text-align: left;
  padding: 0 24px;
}
.blockchain .boxes .box2 {
  border-radius: 14px;
  background: linear-gradient(0deg, #fff 0%, #fff 59.31%, #ffdfe8 100%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.blockchain .boxes .box3 {
  border-radius: 14px;
  background: linear-gradient(0deg, #fff 0%, #fff 59.31%, #d8f0ff 100%);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}

.faq {
  background-color: #f4f8fb;
  padding-top: 103px;
  padding-bottom: 70px;
}
.faq h2 {
  color: #181529;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
}
.faq p {
  color: #646464;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  margin-top: 20px;
}
.faq .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
.faq .row .left {
  max-width: 409px;
}
.faq .row .left p {
  max-width: 381px;
}
.faq .row .left .btn-t2 {
  align-items: center;
  margin-top: 25px;
}
.faq .faq-cards {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  gap: 12px;
}

.faq-card {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.faq-card .question {
  padding: 24px;
  color: #000;
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.faq-card .question .navigator {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  min-width: 30px;
  background-color: #019ffc;
  transition: all ease 0.5s;
}
.faq-card .question .navigator:after {
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.faq-card .question .navigator:before {
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all ease 0.5s;
}
.faq-card .question:hover .navigator {
  background-color: #8965e5;
}
.faq-card .answer {
  overflow: hidden;
  max-height: 0;
  transition: all ease 0.5s;
  opacity: 0.8;
  padding-left: 24px;
  padding-right: 24px;
}
.faq-card .answer .in {
  padding: 0px;
  padding-top: 14px;
  transition: all ease 0.5s;
  border-top: 1px solid #d9dcde;
  margin-top: 20px;
}
.faq-card .answer p {
  color: #646464;
  font-family: "Aeonik TRIAL";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin: 0;
}

.question_opened .question .navigator:before {
  transform: translate(-50%, -50%) rotate(0);
}

.question_opened .answer .in {
  padding-bottom: 24px;
  margin-top: 0;
}

.presale {
  padding-top: 50px;
  padding-bottom: 50px;
}
.presale h2 {
  color: #181529;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
  max-width: 801px;
}
.presale .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presale .row .btn-t1 {
  font-size: 18px;
}
.presale .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 43px;
}
.presale .boxes .box {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  max-width: calc(33.33% - 22px);
  min-height: 368px;
  padding: 40px 30px;
}
.presale .boxes .box h3 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-top: 34px;
}
.presale .boxes .box p {
  color: #646464;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-top: 12px;
}
.presale .boxes .box .imgplace {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  background: rgba(0, 161, 255, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.presale .boxes .box .blue {
  border-radius: 12px;
  background: rgba(0, 161, 255, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.presale .boxes .box .orange {
  border-radius: 12px;
  background: rgba(255, 102, 146, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.presale .boxes .box .purple {
  border-radius: 12px;
  background: rgba(137, 101, 229, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}
.presale .boxes .box .green {
  border-radius: 12px;
  background: rgba(1, 195, 172, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
}

.earlyearn {
  padding-top: 70px;
  padding-bottom: 123px;
}
.earlyearn .box {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
  min-height: 480px;
  background: url("../img/earlyearn.png") no-repeat center center;
  background-size: cover;
  padding-top: 89px;
  padding-bottom: 89px;
  position: relative;
  overflow: hidden;
}
.earlyearn .box .dots-down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  top: -200px;
  animation: stars-animation2 10s linear infinite;
}
@keyframes stars-animation2 {
  0% {
    top: -200px;
    transform: scale(1);
  }
  50% {
    top: -200px;
    transform: scale(1.2);
  }
  100% {
    top: -200px;
    transform: scale(1);
  }
}
.earlyearn h3 {
  color: #181529;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 29.647px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 38.541px */
}
.earlyearn h2 {
  margin: auto;
  max-width: 668px;
  margin-top: 9px;
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 62.4px */
}
.earlyearn p {
  margin: auto;
  margin-top: 14px;
  color: #646464;
  text-align: center;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  max-width: 736px;
}
.earlyearn .btn-place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

footer {
  border-top: 1px solid #d9dcde;
  padding-top: 46px;
  padding-bottom: 34px;
}
footer p {
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  max-width: 268px;
  margin-top: 10px;
}
footer .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
footer .boxes .box {
  min-width: 151px;
}
footer .boxes .logo {
  padding-top: 6px;
}
footer h3 {
  color: #181529;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 4px;
}
footer ul a {
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  transition: all ease 0.5s;
}
footer ul a:hover {
  color: #8965e5;
}

.socm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  gap: 16px;
  margin-top: 10px;
}
.socm a {
  width: 40px;
  height: 40px;
  background-color: rgba(1, 159, 252, 0.2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.socm a svg path {
  transition: all ease 0.5s;
}
.socm a:hover {
  background-color: #00a1ff;
}
.socm a:hover svg path {
  fill: #fff;
}

.downline {
  border-top: 1px solid #d9dcde;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #00a1ff;
  color: #fff;
  border-radius: 18px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
  transition: all 0.5s ease;
}
.back-to-top img {
  max-width: 18px;
}

.back-to-top:hover {
  background-color: #8965e5;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  display: block;
  margin: auto;
  max-width: 90%;
}

.wave path {
  opacity: 0.08;
  animation: pulse2 2s infinite ease-in-out;
}

.wave path:nth-child(1) {
  animation-delay: 0s;
}

.wave path:nth-child(2) {
  animation-delay: 0.3s;
}

.wave path:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse2 {
  0%, 100% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.5;
  }
}
.vendor-page {
  padding-top: 85px;
}
.vendor-page .wrapper {
  max-width: 1390px;
}
.vendor-page .box-top {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 455px;
  border-radius: 32px;
  background: #fafcfe;
  padding-top: 134px;
  background: url("../img/vendor-bg.webp") no-repeat center center;
  background-size: cover;
}
.vendor-page .box-top .dots-down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  top: -200px;
  animation: stars-animation3 10s linear infinite;
}
@keyframes stars-animation3 {
  0% {
    top: -200px;
    transform: scale(1);
  }
  50% {
    top: -200px;
    transform: scale(1.2);
  }
  100% {
    top: -200px;
    transform: scale(1);
  }
}
.vendor-page .box-top .stars {
  position: absolute;
  left: 13px;
  top: 14px;
  animation: stars-animation 13s linear infinite;
}
@keyframes stars-animation {
  0% {
    transform: rotate(0);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: rotate(50deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}
.vendor-page h1 {
  color: #181529;
  text-align: center;
  font-family: Aeonik;
  font-size: 49.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 59.52px */
  max-width: 729px;
  margin: auto;
}
.vendor-page p {
  color: #646464;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
}

.vendor-inputs {
  padding-bottom: 150px;
  position: relative;
  /* Track */
  /* Handle */
  /* Handle on hover */
  /*the container must be positioned relative:*/
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}
.vendor-inputs .box-v {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1.81px 3.619px 0px rgba(0, 0, 0, 0.08);
  padding: 29px 32px;
  max-width: 1000px;
  margin: auto;
  margin-top: -120px;
}
.vendor-inputs p {
  color: #181529;
  leading-trim: both;
  text-edge: cap;
  font-family: Aeonik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.vendor-inputs input {
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 17px 16px;
}
.vendor-inputs .area {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.vendor-inputs input::-moz-placeholder {
  color: #a6a6a6;
}
.vendor-inputs input::placeholder {
  color: #a6a6a6;
}
.vendor-inputs .whole-area {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.vendor-inputs .custom-select option[disabled] {
  color: #a6a6a6;
}
.vendor-inputs .custom-select:invalid {
  color: #a6a6a6;
}
.vendor-inputs .custom-select .selected {
  color: #a6a6a6;
  transition: color 0.3s;
}
.vendor-inputs .custom-select.active .select-options {
  display: block;
}
.vendor-inputs .custom-select .dropdown-icon {
  font-size: 14px;
  pointer-events: none;
}
.vendor-inputs .custom-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  z-index: 10;
}
.vendor-inputs .custom-select .select-options li {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.vendor-inputs .custom-select .select-options li:hover {
  background: #f0f0f0;
}
.vendor-inputs ::-webkit-scrollbar {
  width: 3px;
}
.vendor-inputs ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.vendor-inputs ::-webkit-scrollbar-thumb {
  background: #00a1ff;
}
.vendor-inputs ::-webkit-scrollbar-thumb:hover {
  background: #00a1ff;
}
.vendor-inputs .custom-select {
  position: relative;
}
.vendor-inputs .custom-select select {
  display: none; /*hide original SELECT element:*/
}
.vendor-inputs .select-selected.select-placeholder {
  color: #a6a6a6;
}
.vendor-inputs .select-selected {
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 17px 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNiA5TDEyIDE1TDE4IDkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px;
  cursor: pointer;
}
.vendor-inputs .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.vendor-inputs .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.vendor-inputs .select-items {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 16px;
  box-shadow: 0px 9px 31.7px 0px rgba(30, 41, 49, 0.1);
  background-color: #fff;
  max-height: 400px;
  overflow: auto;
}
.vendor-inputs .select-items div {
  padding: 16px 20px;
  color: #181529;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all ease 0.5s;
  cursor: pointer;
}
.vendor-inputs .select-hide {
  display: none;
}
.vendor-inputs .select-items div:hover,
.vendor-inputs .same-as-selected {
  background-color: #eaeef1;
}
.vendor-inputs button {
  width: 100%;
  max-width: 100%;
  margin-top: 24px;
  cursor: pointer;
}
.vendor-inputs button:hover {
  opacity: 0.7;
  color: #fff;
}

.custom-data input {
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 17px 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M5.99534%201.60784C5.8594%201.68284%205.74221%201.79534%205.64846%201.94534C5.50784%202.17034%205.50784%202.17971%205.49378%202.94378C5.47971%203.69846%205.47971%203.71721%205.60159%203.97034C5.77971%204.33128%206.00471%204.4719%206.44534%204.49065C6.92346%204.51878%207.22346%204.35003%207.42503%203.95159C7.48596%203.82971%207.50003%203.6469%207.50003%203.00003C7.50003%202.15159%207.47659%202.03909%207.2469%201.79065C6.97034%201.48596%206.38909%201.40159%205.99534%201.60784Z%22%20fill%3D%22%23646464%22%2F%3E%3Cpath%20d%3D%22M17.0391%201.57496C16.8328%201.68746%2016.6875%201.83277%2016.5891%202.02496C16.5141%202.17496%2016.5%202.30621%2016.5%202.99996C16.5%203.64683%2016.5141%203.82965%2016.575%203.95152C16.7766%204.35465%2017.0766%204.51871%2017.5547%204.49058C17.9813%204.47183%2018.2203%204.32183%2018.3984%203.97027C18.5109%203.74527%2018.5156%203.68902%2018.5156%202.99996C18.5156%202.30621%2018.5109%202.25465%2018.3938%202.02027C18.2109%201.65933%2017.9906%201.52808%2017.5359%201.50933C17.2781%201.49996%2017.1422%201.51871%2017.0391%201.57496Z%22%20fill%3D%22%23646464%22%2F%3E%3Cpath%20d%3D%22M3.34688%203.08438C2.66719%203.31875%202.17031%203.88125%202.02031%204.58438C1.9875%204.73906%201.96875%205.42344%201.96875%206.42188V8.01562H12H22.0312V6.42188C22.0312%205.42344%2022.0125%204.73906%2021.9797%204.58438C21.8484%203.97969%2021.4453%203.45938%2020.8828%203.18281C20.5828%203.0375%2020.5172%203.02344%2020.0391%203.00469L19.5188%202.99063L19.4672%203.51094C19.4016%204.1625%2019.2469%204.53281%2018.8719%204.89844C18.0844%205.66719%2016.9031%205.65781%2016.1203%204.87969C15.7031%204.45781%2015.5156%203.97031%2015.5156%203.3V3H12H8.48438V3.3C8.48438%203.97969%208.30156%204.45313%207.87969%204.87969C7.09688%205.65781%205.92031%205.66719%205.12813%204.89844C4.75313%204.53281%204.59844%204.1625%204.53281%203.51563L4.48125%203H4.03594C3.73125%203.00469%203.50625%203.02813%203.34688%203.08438Z%22%20fill%3D%22%23646464%22%2F%3E%3Cpath%20d%3D%22M1.96875%2014.8359C1.96875%2018.975%201.98281%2020.7375%202.02031%2020.9156C2.15156%2021.5203%202.55469%2022.0406%203.11719%2022.3172L3.44531%2022.4766H12H20.5547L20.8828%2022.3172C21.4453%2022.0406%2021.8484%2021.5203%2021.9797%2020.9156C22.0172%2020.7375%2022.0312%2018.975%2022.0312%2014.8359V9H12H1.96875V14.8359ZM7.38281%2011.6203C7.48594%2011.6672%207.62656%2011.7656%207.69688%2011.8406C7.93125%2012.0891%207.96875%2012.2625%207.96875%2013.0172C7.96875%2013.8141%207.91719%2013.9922%207.61719%2014.2359C7.35938%2014.4516%207.13438%2014.4937%206.39375%2014.475C5.77969%2014.4609%205.72813%2014.4516%205.52188%2014.3297C5.37656%2014.2453%205.25469%2014.1234%205.17031%2013.9781C5.04844%2013.7719%205.03906%2013.7203%205.025%2013.1062C5.00625%2012.3656%205.04844%2012.1406%205.26406%2011.8828C5.50781%2011.5828%205.68594%2011.5312%206.49219%2011.5312C7.07812%2011.5312%207.22813%2011.55%207.38281%2011.6203ZM13.0359%2011.6953C13.1578%2011.7797%2013.2844%2011.9297%2013.3547%2012.0703C13.4719%2012.2906%2013.4766%2012.3422%2013.4766%2013.0078C13.4766%2013.8047%2013.4391%2013.9359%2013.125%2014.2219C12.8813%2014.4375%2012.6938%2014.4844%2012%2014.4844C11.3063%2014.4844%2011.1188%2014.4375%2010.875%2014.2219C10.6031%2013.9734%2010.5375%2013.7906%2010.5094%2013.2C10.4719%2012.2953%2010.6219%2011.8687%2011.0625%2011.6391C11.2641%2011.5312%2011.3063%2011.5266%2012.0563%2011.5406L12.8344%2011.5547L13.0359%2011.6953ZM18.4031%2011.6203C18.6375%2011.7281%2018.8625%2011.9953%2018.9375%2012.2578C18.975%2012.3844%2018.9891%2012.6937%2018.975%2013.1062C18.9609%2013.7203%2018.9516%2013.7719%2018.8297%2013.9781C18.7453%2014.1234%2018.6234%2014.2453%2018.4781%2014.3297C18.2719%2014.4516%2018.2203%2014.4609%2017.6063%2014.475C16.8656%2014.4937%2016.6406%2014.4516%2016.3828%2014.2359C16.0828%2013.9922%2016.0313%2013.8141%2016.0313%2013.0172C16.0313%2012.2625%2016.0688%2012.0891%2016.3031%2011.8406C16.5469%2011.5781%2016.7297%2011.5312%2017.5078%2011.5312C18.0938%2011.5312%2018.2438%2011.55%2018.4031%2011.6203ZM7.27031%2017.0672C7.51406%2017.1422%207.77656%2017.3672%207.87969%2017.5969C7.95%2017.7562%207.96875%2017.9062%207.96875%2018.4922C7.96875%2019.2703%207.92188%2019.4531%207.65938%2019.6969C7.41094%2019.9312%207.2375%2019.9688%206.48281%2019.9688C5.68594%2019.9688%205.50781%2019.9172%205.26406%2019.6172C5.04844%2019.3594%205.00625%2019.1344%205.025%2018.3937C5.03906%2017.7844%205.04844%2017.7281%205.16563%2017.5219C5.29688%2017.3062%205.5125%2017.1375%205.75625%2017.0625C5.94844%2017.0016%207.06875%2017.0062%207.27031%2017.0672ZM12.7641%2017.0672C12.9844%2017.1281%2013.275%2017.3812%2013.3875%2017.6156C13.4625%2017.7609%2013.4766%2017.9016%2013.4766%2018.4922C13.4766%2019.1578%2013.4719%2019.2094%2013.3547%2019.4297C13.2844%2019.5703%2013.1578%2019.7203%2013.0359%2019.8047L12.8344%2019.9453H12H11.1656L10.9641%2019.8047C10.8422%2019.7203%2010.7156%2019.5703%2010.6453%2019.4297C10.5281%2019.2094%2010.5234%2019.1578%2010.5234%2018.4922C10.5234%2017.9109%2010.5375%2017.7609%2010.6078%2017.6203C10.7203%2017.3906%2010.9688%2017.1609%2011.1844%2017.0859C11.4047%2017.0062%2012.5016%2016.9922%2012.7641%2017.0672ZM18.4781%2017.1703C18.6234%2017.2547%2018.7453%2017.3766%2018.8297%2017.5219C18.9516%2017.7281%2018.9609%2017.7797%2018.975%2018.3937C18.9938%2019.1344%2018.9516%2019.3594%2018.7359%2019.6172C18.4922%2019.9172%2018.3141%2019.9688%2017.5172%2019.9688C16.7625%2019.9688%2016.5891%2019.9312%2016.3406%2019.6969C16.0781%2019.4531%2016.0313%2019.2703%2016.0313%2018.4922C16.0313%2017.6859%2016.0875%2017.4984%2016.3781%2017.2687C16.6594%2017.0437%2016.7906%2017.0156%2017.5547%2017.0297C18.2297%2017.0391%2018.2672%2017.0437%2018.4781%2017.1703Z%22%20fill%3D%22%23646464%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px;
  cursor: pointer;
}
.custom-data input:focus {
  outline: none;
}

#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: "Aeonik TRIAL";
}
#ui-datepicker-div table {
  border-collapse: collapse;
  border-spacing: 0;
}
#ui-datepicker-div .ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909c;
}
#ui-datepicker-div .ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}
#ui-datepicker-div .ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546e7a;
  font-size: 0.875rem;
  text-decoration: none;
}
#ui-datepicker-div .ui-datepicker-calendar tbody td a:hover {
  background-color: #e0f2f1;
}
#ui-datepicker-div .ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #00a1ff;
  color: white;
}
#ui-datepicker-div .ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}
#ui-datepicker-div .ui-datepicker-header a.ui-corner-all:hover {
  background-color: #eceff1;
}
#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}
#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}
#ui-datepicker-div .ui-datepicker-header a > span {
  display: none;
}
#ui-datepicker-div .ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
#ui-datepicker-div .ui-datepicker-week-col {
  color: #5bc3ff;
  font-weight: 400;
  font-size: 0.75rem;
}

.terms-privacy .box-top {
  min-height: 376px;
}
.terms-privacy h1 {
  max-width: unset;
}

.paragraph-section {
  padding-top: 95px;
  padding-bottom: 95px;
}
.paragraph-section .contenet {
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 47px;
}
.paragraph-section .contenet .container-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  width: 100%;
}
.paragraph-section .contenet .container-in .sm-gap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin-top: -2px;
}
.paragraph-section .contenet .container-in h2 {
  color: #181529;
  leading-trim: both;
  text-edge: cap;
  font-family: Aeonik;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  width: 100%;
}
.paragraph-section .contenet .container-in p {
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  max-width: 100%;
}
.paragraph-section .contenet .container-in p b {
  font-weight: 700;
}
.paragraph-section .contenet .container-in ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: -1px;
}
.paragraph-section .contenet .container-in ul li {
  color: #646464;
  leading-trim: both;
  text-edge: cap;
  font-family: "Aeonik TRIAL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  max-width: 100%;
  padding-left: 30px;
  position: relative;
}
.paragraph-section .contenet .container-in ul li b {
  font-weight: 700;
}
.paragraph-section .contenet .container-in ul li:before {
  width: 6px;
  height: 6px;
  left: 15px;
  background-color: #000;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 12px;
}

/* Hide the Google Translate top bar */
.goog-te-banner-frame {
  display: none !important;
}

/* Hide the Google Translate pop-up */
body > .skiptranslate {
  display: none !important;
}

/* Hide the Google Translate logo */
.goog-logo-link {
  display: none !important;
}

/* Hide the Google Translate dropdown default styles */
.goog-te-gadget {
  font-size: 0px;
}

/* Ensure page doesn’t shift due to hidden elements */
.goog-te-gadget span {
  display: none !important;
}

/* Optional: If you are using the inline Google Translate dropdown */
#google_translate_element {
  position: absolute;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */